<ul>
  {{#each user in model}}
  <li>
    {{#link-to 'users.show' user}} {{user.firstName}} {{user.lastName}}{{/link-to}}
     <span>{{#link-to 'users.edit' user }}Edit {{/link-to}}</span>
  <li>
  {{/each}}
</ul>
{{outlet}}
